{% extends 'base.html.twig' %}


{% block body %}
<h3>Faktury</h3>

<ul>
    {% for invoice in invoices %}
        <li>
            <a href="{{ path('invoice_show', {'invoiceId': invoice.id}) }}">{{ invoice.invoiceNumber }}</a>
        </li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{{ path("invoice_create") }}">Dodaj</a>

{% endblock %}